<%- include('partials/header') %>

<h1>show page</h1>

<p><%= campground.name %></p>
<img src="<%= campground.image %>" alt="picture of campsite">
<p><%= campground.description %></p>
<% campground.comments.forEach(function(comment) { %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>

<%- include('partials/footer') %>